@model RegUser

<div class="text-center">
    <partial name="NavPartial" />
    <h1>Welcome to this site!</h1>
</div>

<h2 style="color: forestgreen">SUCCESS... Also....</h2>
<h3>Passing a string from Session using ViewBag</h3>
<ol>
    <li> @ViewBag.OtherUser</li>
</ol>
<h3>Passing a Model from Session</h3>
<ol>
    <li>@Model.FirstName</li>
    <li>@Model.LastName</li>
    <li>ETCETERA</li>
</ol>
